## go to the   Accelerated_Intro_WilkinsonExtras    folder

## ISSUE THESE COMMADS 


###   git fetch
###   git checkout FETCH_HEAD -- PythonSQL.ipynb
###   git checkout FETCH_HEAD -- germplasm.tsv

this will retrieve the new lecture material without destroying your existing notes :-)
<pre>







</pre>

In [2]:
%load_ext sql
#%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

In [3]:
%sql show databases;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
6 rows affected.

[('information_schema',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testing123',)]

In [4]:
# if you have the germplasm database, please drop it now!
# if not, then move to the next box

%sql drop database germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [5]:
%sql create database germplasm;
%sql show databases

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('information_schema',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [6]:
%sql use germplasm;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [8]:
#%sql drop table stock
#%sql drop table germplasm
#%sql drop table gene
%sql CREATE TABLE stock(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, amount FLOAT NOT NULL, date DATE NOT NULL, location VARCHAR(20) NOT NULL);
%sql DESCRIBE stock
%sql CREATE TABLE germplasm(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, taxonid INTEGER NOT NULL, allele VARCHAR(10) NOT NULL, gene_id INTEGER NOT NULL, stock_id INTEGER NOT NULL);
%sql DESCRIBE germplasm
%sql CREATE TABLE gene(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, gene VARCHAR(10) NOT NULL, gene_name VARCHAR(30) NOT NULL, embl VARCHAR(70) NOT NULL);
%sql DESCRIBE gene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('gene', 'varchar(10)', 'NO', '', None, ''),
 ('gene_name', 'varchar(30)', 'NO', '', None, ''),
 ('embl', 'varchar(70)', 'NO', '', None, '')]

In [9]:
%sql INSERT INTO stock(id, amount, date, location) VALUES (1, 5, '2013-05-10', 'Room 2234');
%sql INSERT INTO stock(id, amount, date, location) VALUES (2, 9.8, '2015-1-12', 'Room 998');

%sql INSERT INTO germplasm (taxonid, allele, gene_id, stock_id) VALUES (4150, 'def-1', 1, 1 );
%sql INSERT INTO germplasm (taxonid, allele, gene_id, stock_id) VALUES (3701, 'ap3', 2, 2 );
%sql INSERT INTO germplasm (taxonid, allele, gene_id, stock_id) VALUES (3701, 'ag', 3, 2 );

%sql INSERT INTO gene (id, gene, gene_name, embl) VALUES (1, 'DEF', "Deficiens", 'https://www.ebi.ac.uk/ena/data/view/AB516402');
%sql INSERT INTO gene (id, gene, gene_name, embl) VALUES (2, 'AP3', "Apetala3", 'https://www.ebi.ac.uk/ena/data/view/AF056541');
%sql INSERT INTO gene (id, gene, gene_name, embl) VALUES (3, 'AG', "Agamous", 'https://www.ebi.ac.uk/ena/data/view/AL161549');

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[]

<pre>


</pre>

## Our germplasm database is now set up.

The data structure is approximately the same as the final data structure yesterday:

**Stock table**

**Gene table**

**Germplasm table** linked to **Stock table** (many-to-one) (several germplasms point to same stock)
**Germplasm table** linked to **Gene table** (one-to-one) (every germplasm points to one gene)

In [23]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT * FROM stock"
        cursor.execute(sql)
        results = cursor.fetchall()
        print(results)
        print("")
        for result in results:
            print(result['amount']," is located in ",result['location'])
finally:
    print("")
    connection.close()

[{'id': 1, 'amount': 5.0, 'date': datetime.date(2013, 5, 10), 'location': 'Room 2234'}, {'id': 2, 'amount': 9.8, 'date': datetime.date(2015, 1, 12), 'location': 'Room 998'}]

5.0  is located in  Room 2234
9.8  is located in  Room 998

## Open a new jupyter notebook to Lesson 3  - mySQL section

Try some of the SELECT queries we learned in that lesson.

In [22]:
# try queries here

<pre>


</pre>
## You can issue ANY mysql command in this way

Including _create database_, _create table_,  and  _insert_ data commands.

For example:

In [18]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "create database testing123"
        cursor.execute(sql)
finally:
    print("")
    connection.close()


%sql show databases

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
6 rows affected.

[('information_schema',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testing123',)]

In [20]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
# PAY ATTENTION HERE!!!!!!!!!!!!!!!
                             db='testing123',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "create table test1(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, data1 VARCHAR(20) NOT NULL )"
        cursor.execute(sql)
        sql = "create table test2(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, otherdata VARCHAR(20) NOT NULL )"
        cursor.execute(sql)
finally:
    print("")
    connection.close()


%sql use testing123
#%sql show tables
#%sql desc test1
%sql desc test2

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('otherdata', 'varchar(20)', 'NO', '', None, '')]

In [21]:
%sql show databases

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
6 rows affected.

[('information_schema',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testing123',)]

# Insert a new record into the Germplasm database

First, look at the schemas:

In [25]:
%sql use germplasm
%sql desc gene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('gene', 'varchar(10)', 'NO', '', None, ''),
 ('gene_name', 'varchar(30)', 'NO', '', None, ''),
 ('embl', 'varchar(70)', 'NO', '', None, '')]

In [26]:
%sql desc stock

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('amount', 'float', 'NO', '', None, ''),
 ('date', 'date', 'NO', '', None, ''),
 ('location', 'varchar(20)', 'NO', '', None, '')]

In [27]:
%sql desc germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('taxonid', 'int(11)', 'NO', '', None, ''),
 ('allele', 'varchar(10)', 'NO', '', None, ''),
 ('gene_id', 'int(11)', 'NO', '', None, ''),
 ('stock_id', 'int(11)', 'NO', '', None, '')]

## test data to show how to retrieve the latest unique ID number:

**Gene**:  gene=TEST, gene_name=testing, embl=http://TESTTEST

(Remember the SQL "last_insert_id()" function!!)

In [34]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
# PAY ATTENTION HERE!!!!!!!!!!!!!!!
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "INSERT INTO gene (gene, gene_name, embl) VALUES ('TEST', 'testing', 'https://TESTTEST')"
        cursor.execute(sql)
        sql = "SELECT last_insert_id()"
        cursor.execute(sql)
        results = cursor.fetchall()
        print(results)
        gene_id = results[0]['last_insert_id()']# note that results is a LIST, so we need to take element 0 first
        print("The unique ID for the last gene entered was {}".format(gene_id))

finally:
    print("")
    connection.close()

[{'last_insert_id()': 9}]
The unique ID for the last gene entered was 9

## new data:

**Gene**:  gene=WUS, gene_name=wuschel, embl=http://ABC123

**Stock**: amount=10, date=12/09/2018, location=Room990

**Germplasm**:  taxonid=3701, allele=wus-1, **gene_id=??, stock_id=??**

In [ ]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        
        # you will need to create 3 INSERT INTO statements
        # you will need to capture the unique ID from two 
        # of those to create the germplasm entry
        sql = ""

        
finally:
    print("")
    connection.close()