In [1]:
%load_ext sql
#%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

In [2]:
%sql show databases;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]

In [3]:
%sql create database germplasm;
%sql show databases

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('information_schema',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [4]:
%sql use germplasm;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [29]:
%sql drop table stock
%sql drop table germplasm
%sql drop table gene
%sql CREATE TABLE stock(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, amount FLOAT NOT NULL, date DATE NOT NULL, location VARCHAR(20) NOT NULL);
%sql DESCRIBE stock
%sql CREATE TABLE germplasm(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, taxonid INTEGER NOT NULL, allele VARCHAR(10) NOT NULL, gene_id INTEGER NOT NULL, stock_id INTEGER NOT NULL);
%sql DESCRIBE germplasm
%sql CREATE TABLE gene(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, gene VARCHAR(10) NOT NULL, gene_name VARCHAR(30) NOT NULL, embl VARCHAR(70) NOT NULL);
%sql DESCRIBE gene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('gene', 'varchar(10)', 'NO', '', None, ''),
 ('gene_name', 'varchar(30)', 'NO', '', None, ''),
 ('embl', 'varchar(70)', 'NO', '', None, '')]

In [30]:
%sql INSERT INTO stock(id, amount, date, location) VALUES (1, 5, '2013-05-10', 'Room 2234');
%sql INSERT INTO stock(id, amount, date, location) VALUES (2, 9.8, '2015-1-12', 'Room 998');

%sql INSERT INTO germplasm (taxonid, allele, gene_id, stock_id) VALUES (4150, 'def-1', 1, 1 );
%sql INSERT INTO germplasm (taxonid, allele, gene_id, stock_id) VALUES (3701, 'ap3', 2, 2 );
%sql INSERT INTO germplasm (taxonid, allele, gene_id, stock_id) VALUES (3701, 'ag', 3, 2 );

%sql INSERT INTO gene (id, gene, gene_name, embl) VALUES (1, 'DEF', "Deficiens", 'https://www.ebi.ac.uk/ena/data/view/AB516402');
%sql INSERT INTO gene (id, gene, gene_name, embl) VALUES (2, 'AP3', "Apetala3", 'https://www.ebi.ac.uk/ena/data/view/AF056541');
%sql INSERT INTO gene (id, gene, gene_name, embl) VALUES (3, 'AG', "Agamous", 'https://www.ebi.ac.uk/ena/data/view/AL161549');

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[]

In [33]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT * FROM stock"
        cursor.execute(sql)
        results = cursor.fetchall()
        for result in results:
            print(result['amount']," and ",result['location'])
finally:
    print("")
#    connection.close()

5.0  and  Room 2234
9.8  and  Room 998

In [35]:
try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "create database testing123"
        cursor.execute(sql)
        results = cursor.fetchall()
        print(results)
finally:
    print("")

()

In [36]:
%sql show databases

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
6 rows affected.

[('information_schema',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testing123',)]